# 函數 Print

In [1]:
print("Hello World!")

Hello World!

In [2]:
print(6)

6

In [3]:
print(['hello', 3, 4, 5])

['hello', 3, 4, 5]

In [4]:
print({ 'A': 1, 2: 'B'})

{'A': 1, 2: 'B'}

In [5]:
print(6//4, 7.0//4, 9%4)

1 1.0 1

# 內置原子數據類型

## 1. int float
## 2. 布爾類型

# 內置原子數據類型 int float
```
int float 標準運算 '+','-','/','*','%','//'
```

In [6]:
print(6//4, 7.0//4, 9%4, 6/4)

1 1.0 1 1.5

In [7]:
print(4+5, 8.0-2, 3*4)

9 6.0 12

# 內置原子數據類型 布爾類型

```
標準運算 and or not
```

In [8]:
False or True

True

In [9]:
not(False or True)

False

In [10]:
True and True

True

# 比較運算符

In [11]:
print(3>2)

True

In [12]:
print(4==4)

True

In [13]:
print(2<=1)

False

# 賦值語句

In [14]:
theSum = 0

In [15]:
theSum

0

In [16]:
theSum = theSum + 1

In [17]:
theSum = True

In [18]:
theSum

True

# 內置集合數據類型
## 1. 列表
## 2. 元組
## 3. 字典
## 4. 集合
## 5. 字符串

# 內置集合數據類型 列表

In [19]:
[1, 3, True, 6.5]

[1, 3, True, 6.5]

In [20]:
myList = [ 1, 3, True, 6.5]

In [21]:
myList # 列表是異構的

[1, 3, True, 6.5]

In [22]:
myList = [ 1, 2, 3, 4]
A = [myList] * 3
print(A)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [23]:
myList[2] = 45
print(A)

[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

In [24]:
print(3 in myList)

False

In [25]:
print(myList[0:3])

[1, 2, 45]

In [26]:
myList2 = [4, 5]
print(myList + myList2)

[1, 2, 45, 4, 4, 5]

In [27]:
myList = [1024, 3, True, 6.5]
myList.append(False)
print(myList)
myList.insert(2, 4.5)
print(myList)
print(myList.pop())
print(myList)
print(myList.pop(1))
print(myList)
myList.pop(2)
print(myList)
myList.sort()
print(myList)
myList.reverse()
print(myList)
print(myList.count(6.5))
print(myList.index(4.5))
myList.remove(6.5)
print(myList)
del myList[0]

[1024, 3, True, 6.5, False]
[1024, 3, 4.5, True, 6.5, False]
False
[1024, 3, 4.5, True, 6.5]
3
[1024, 4.5, True, 6.5]
[1024, 4.5, 6.5]
[4.5, 6.5, 1024]
[1024, 6.5, 4.5]
1
2
[1024, 4.5]

# range 函數

In [28]:
range(10)

range(0, 10)

In [29]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
range( 5, 10)

range(5, 10)

In [31]:
list(range( 5, 10))

[5, 6, 7, 8, 9]

In [32]:
list(range( 5, 10, 2))

[5, 7, 9]

In [33]:
list(range( 10, 1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

# 內置集合數據類型 字符串

In [34]:
"David"

'David'

In [35]:
myName = "David"
myName[3]

'i'

In [36]:
myName * 2

'DavidDavid'

In [37]:
len(myName)

5

In [38]:
myName

'David'

In [39]:
myName.upper()

'DAVID'

In [40]:
myName.center(10)

'  David   '

In [41]:
myName.find('v')

2

In [42]:
myName.split('v')

['Da', 'id']

In [43]:
myList = [ 1, 3, True, 6.5]
myList

[1, 3, True, 6.5]

In [44]:
myList[0] = 2 ** 10
myList

[1024, 3, True, 6.5]

In [45]:
myName

'David'

In [46]:
dictionary = {
    "hello": "world",
}
number = 25

try:
    number = number + dictionary["hello"]
    print(number)
except Exception as e: 
    print(repr(e))
    
# 列印異常

TypeError("unsupported operand type(s) for +: 'int' and 'str'")

In [47]:
try:
    myName[0]='X'
    print(myName)
except Exception as e: 
    print(repr(e))
    
# 列印異常

TypeError("'str' object does not support item assignment")

# 內置集合數據類型 元組

In [48]:
myTuple = (2, True, 4.96)
myTuple

(2, True, 4.96)

In [49]:
len(myTuple)

3

In [50]:
myTuple[0]

2

In [51]:
myTuple * 3

(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

In [52]:
myTuple[0:2]

(2, True)

In [53]:
myTuple[0:2]

(2, True)

In [54]:
try:
    myTuple[1]=False
    print(myTuple)
except Exception as e: 
    print(repr(e))
    
# 列印異常

TypeError("'tuple' object does not support item assignment")

# 內置集合數據類型 集合

In [55]:
{ 3, 6, "cat", 4.5, False}

{3, 4.5, 6, False, 'cat'}

In [56]:
mySet = { 3, 6, "cat", 4.5, False}
mySet

{3, 4.5, 6, False, 'cat'}

In [57]:
len(mySet)

5

In [58]:
False in mySet

True

In [59]:
"dog" in mySet

False

# 內置集合數據類型 字典

In [60]:
capitals = {'Heilongjiang':'Harbin','Guangdong':'Guangzhou'}
capitals

{'Heilongjiang': 'Harbin', 'Guangdong': 'Guangzhou'}

In [61]:
capitals['Hunan'] = 'Changsha'
print(capitals)

{'Heilongjiang': 'Harbin', 'Guangdong': 'Guangzhou', 'Hunan': 'Changsha'}

In [62]:
print(len(capitals))

3

In [63]:
for k in capitals:
    print(capitals[k], " is the capital of ", k)

Harbin  is the capital of  Heilongjiang
Guangzhou  is the capital of  Guangdong
Changsha  is the capital of  Hunan

In [64]:
phoneext = {'david': 1410, 'brad': 1137}
phoneext

{'david': 1410, 'brad': 1137}

In [65]:
phoneext.keys()

dict_keys(['david', 'brad'])

In [66]:
list(phoneext.keys())

['david', 'brad']

In [67]:
phoneext.values()

dict_values([1410, 1137])

In [68]:
list(phoneext.values())

[1410, 1137]

In [69]:
phoneext.items()

dict_items([('david', 1410), ('brad', 1137)])

In [70]:
phoneext.get("kent")

In [71]:
try:
    phoneext.get("kent", "NO ENTRY", 'NO ENTRY')
    print(phoneext)
except Exception as e: 
    print(repr(e))

TypeError('get expected at most 2 arguments, got 3')